<%- include('partials/header') %>
<div class="home-body text-center">


<div class="header">
<h1 id="wow-title">Wow Dashboard</h1>
<h6 class="gold-text">Player Search</h6>
<div class="dropdown">
  <form class="" action="/" method="post">
  <input id="playerName" name="playerName" autocomplete="off" type="text" placeholder="Search.." oninput="myFunction()" onkeydown="filterFunction()" onkeyup="playerSearch()" >
  <div id="myDropdown" class="dropdown-content">
    <!-- <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"> -->
    <div class="dp-list">
      <div id="playerObj"></div>
    </div>
  </div>
  <button class="btn btn-dark" type="submit" name="button">Go</button>
  </form>

</div>
</div>


<div class="sign-in text-center">
  <form class="form-signin" action="/auth/bnet/callback" method="post">
    <div class="form-group" >
      <h2 class="gold-text">Sign In</h2>
      <input class="form-control" type="text" name="email" placeholder="Email" value="">

      <input class="form-control" type="text" name="password" placeholder="Password"value="">
    </div>
    <div class="form-group" >
    <h5 class="gold-text" for="sign-up">Have a Blizzard Account?</h5>
    </div>
    <button class="btn btn-dark btn-lg btn-block" type="submit" name="button">Sign in</button>
  </form>
</div>



</div>

<script type="text/javascript">
  // $('#autocomplete').autocomplete({
  //     serviceUrl: 'https://us.api.blizzard.com/data/wow/realm/index?namespace=dynamic-us&locale=en_US&access_token=USKQzyyZqskrj6obRTuz3PAwtb4FuR0QNF',
  //     onSelect: function (suggestion) {
  //         alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
  //     }
  // });
  // document.querySelectorAll("realm").addEventListener("mouseover", mouseOver);


</script>

<%- include('partials/footer') %>
