.header {
  padding: 5px 5px 5px 8px;
  /* background: url("https://assets.worldofwarcraft.com/static/components/SiteNav/sitenav-bar-bg.1fce1b9a3f4b7c90fb331726baa8c3ed.jpg"); */
  background: rgb(34, 40, 49, 0.8);
  border-radius: 5px;
  border: 2px solid;
  border-color: #487e9599;
  box-shadow: 0px 2px 10px 2px #00000025;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
}
.profile-body  {
  height: auto;
  /* padding: 2% 6%; */
}
body {
  background: #1e212d;
  padding: 2% 6%;
  /* background: url("https://assets.worldofwarcraft.com/static/components/Box/Box-leather-grey-dark.0477a49460ddf3f97294112a1b372a06.jpg"); */
  color: #f8f1f1;
  font-family: Open Sans,Arial,Helvetica,sans-serif;
  /* font-family: Poppins,Open Sans,Questrial,Russo One,cursive; */
}

.card {
  padding: 5px;
  background: rgb(34, 40, 49, 0.6);
}
.bg-btn{
  /* color: white; */
  background: transparent;
}
.navbar {
    float: left;
    padding-bottom: 1.5px;
}
.navbar-toggler {
  color: white;
  margin-right: 5px;
}
.custom-select {
  /* background-color: #5b5b5b; */
}
.input-inline {
  display: inline-flex;
}
.home-body {
  background-color: #20252c;
  padding: 10px 15px;
  height: auto;
}
.dp-list {
  display: inline-block;
}
.back-btn {
  float: right;
}
.char-div {
  display: inline-flex;
}
.char-class{
  margin-left: 5px;
}

/* HOME PAGE CSS */
.sign-in {
 display: inline-block;
 padding: 10% 15%;
}
.login-labels {
  padding-bottom: 1px;
}
.custom {
  border-radius: 5px;
  background-color: white;
  padding:2px;
}
.pos-f-t{
  display: inline-block;
}
.form-control {
  /* color: #ece2e1; */
  /* background-color: #5b5b5b; */
  border: 1px solid #ced4da;
  border-radius: 2px;
  margin-bottom: 2px;
}
input {
  background-color: #5b5b5b;
  border: 0px;
  border-radius: 2px;
}
/* NEW PAGE DESIGN CSS */
.header-btns {
  /* background-color: gray; */
  float: right;
  display: inline-block;
  height: auto;
  position: relative;
  bottom: 0;
  font-size: 0;

}
.error-btns {
  display: inline-block;

  height: auto;
  position: relative;
  bottom: 0;
  font-size: 0;
  margin-bottom: 5px;

}
.hd-btn-row {
  color:rgb(255, 214, 51);
  /* background: url("https://assets.worldofwarcraft.com/static/components/SiteNav/sitenav-bar-bg.1fce1b9a3f4b7c90fb331726baa8c3ed.jpg"); */
  background: rgb(34, 40, 49, 0.6);
  font-size: 1rem;
  padding: 18px 22px;
  position: relative;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px #00000085;
  margin-right: 1px;
  cursor: pointer;
}
.error-btn-row {
  color:rgb(255, 214, 51);
  background: rgb(34, 40, 49, 0.6);
  font-size: 1rem;
  padding: 10px 15px;
  position: relative;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px #00000085;
  margin-right: 1px;
  cursor: pointer;
}
.hd-btn-row:focus{
  outline: 0 !important;
}
button.hd-btn-row:hover {
  color: white;
  background: rgb(255, 250, 240, 0.2);
}
.error--btn-row:focus{
    outline: 0 !important;
}
button.error-btn-row:hover {
  color: white;
  background: rgb(255, 250, 240, 0.2);
}


.talent-container {
  display: block;
}
.tal-img-container{
  margin-bottom: 5px;
  background-color: rgb(56, 62, 86, 0.6);
  width: 52%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px #00000055;
}
.pvp-tal-img-container {
  margin-bottom: 5px;
  background-color: rgb(56, 62, 86, 0.6);
  width: 30%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px #00000055;
}
.tal-name {
  display: block;
  color: white;
}
.tal-inner {
  display: block;
}
.iconlarge {
  margin-right: 5px;
}
/* ------------- */

/* PROFILE CSS  */
#wow-title{
    color:#f8b700;
    font-weight: bold;
    /* background-image: -webkit-linear-gradient(top,#ffbf00,#e2a233 19%,#f0c328 30%,#ffe13e 43%,#ffe13e 50%); */
    background: -webkit-linear-gradient(top, #fbff2d 0%,#ffd015 77%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.gold-text{
  color:#f8b700;
  font-weight: bold;
  background: -webkit-linear-gradient(top, #fbff2d 0%,#ffd015 77%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
hr {
  background-color: white;
  border-top: .5px solid #8c8b8b;
  margin: 12px 0px 12px 0;
}
.container-info {
  display: inline-flex;
  /* margin-left: 20px; */
  margin-right: 20px;
  margin-bottom: 8px;
  width: 100%;
  height: auto;
}

.profile-info {
  display: inline-flex;
  height:auto;
  margin-top:  8px;
  /* padding: 2% 5%; */
}
.player-info {
  background: rgb(34, 40, 49, 0.8);
  width: 30%;
  padding: 15px;
  margin-right: 5px;
  border: 2px solid;
  border-color: #487e9599;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 2px #00000025;
}

.guild {
  width:30%;
  background: rgb(34, 40, 49, 0.8);
  max-height: 700px;
  margin-right: 5px;
  padding: 15px;
  align-items: flex-start;
  overflow: auto;
  border: 2px solid;
  border-color: #487e9599;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 2px #00000025;
}
.pvp-info {
  background: rgb(34, 40, 49, 0.8);
  height: auto;
  padding: 15px;
  width: 56%;
  margin-right: 5px;
  /* border: none; */
  border: 2px solid;
  border-color: #487e9599;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 2px #00000025;

}
.talent-info {
  background: rgb(34, 40, 49, 0.8);
  width: 30%;
  padding: 15px;
  /* border: none; */
  border: 2px solid;
  border-color: #487e9599;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 2px #00000025;
}
.equipment {
  width: 56%;
  background: rgb(34, 40, 49, 0.8);
  margin-right: 5px;
  padding: 15px;
  /* border: none; */
  border: 2px solid;
  border-color: #487e9599;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 2px #00000025;
}
.item-header {
  display: inline-flex;
}
.quality {
  margin-left: 5px;
}
.main-avatar {
  /* Set rules to fill background */
  z-index: -1;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.pvp-titles {
  text-align: center;
  font-size: 1.3rem;
}
.pvp-titles-small{
  text-align: right;
}
.pvp-type {
  margin-bottom: 5px;
  background-color: rgb(56, 62, 86, 0.8);
  padding: 10px;
  margin-left: 45px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px #00000055;
}
.pvp-won {
  display: inline-block;
  margin-bottom: 5px;
  background-color: rgb(56, 62, 86, 0.8);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px #00000055;
}
.pvp-loss {
  margin-bottom: 5px;
  background-color: rgb(56, 62, 86, 0.8);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px #00000055;
}
.pvp-matches {
  margin-bottom: 5px;
  background-color: rgb(56, 62, 86, 0.8);
  padding: 10px;
  margin-top: 30px;
  margin-left: 45px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px #00000055;
}
.pvp-winrate {
  margin-bottom: 5px;
  background-color: rgb(56, 62, 86, 0.8);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px #00000055;
}
.pvp-scores {
  margin-left: 5px;
  text-align: center;
}
.pvp-games {
text-align: right

}
.game-won {
  display: inline-flex;
}
.hide {
  display: none;
}
.pvp-tool-tips{
  position:absolute;
  top:0px;
  font-size: 14;
  z-index: 1;
  margin-bottom: 5px;
  padding: 10px;
  color: white;
  background-color: rgb(26, 26, 26, 0.9);
    /* background-color:#707070; */
  margin-top: 30px;
  margin-left: 45px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px #00000055;
}
.pvp-won-tp{
  color: gray;
  margin-left: 5px;
}
.guild::-webkit-scrollbar {
    display: none;
}
.guild-info {
  display: inline-flex;
}
.avatar-container {
  display: inline-flex;
}
.avatar-img {
  margin-top: 12px;
  width:30%;
  float:left;
}
.top-info {
  margin-left: 8px;
  width:80%;
  clear: both;
}
.top-text {
  margin: 5px;
}
.text-indent {
  margin-left: 12px;
}
footer {
  /* margin-left: 20px; */
  /* margin-right: -20px; */
  /* width: 100%;
  padding: 5px 5px 5px 8px; */
  background: rgb(34, 40, 49, 0.8);
  border: 2px solid;
  border-color: #487e9599;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 2px #00000025;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;

}

#scroll-arrow {
  visibility: hidden;
}
.new-arrow {
  float: right;
  background-image: url("public/arrow-down-bold-box.png");
  width: 15%;
  margin-right: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 20rem;
}
.arrow {
  float: right;
  width: 15%;
  margin-right: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
@keyframes animateUp {
    0%{
        opacity: 0;
        transform: rotate(225deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(225deg) translate(20px,20px);
    }
}


/* DROP DOWN LIST  */

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px 2px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* special character */
.long-press-popup li {
	display:inline-block;
	list-style: none;
	padding: 10px 34px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: #000000;
	cursor:pointer;
	color: white;
	border: solid 4px black;
	border-radius: 12px;
}
.long-press-popup .selected {
	border-color: white;
	-webkit-box-shadow: 0 0 18px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    0 0 18px rgba(255, 255, 255, 0.75);
	box-shadow:         0 0 18px rgba(255, 255, 255, 0.75);
}
